div.someclass {
    text-align: left;
    } 
.panel {
    background-color: rgb(201, 192, 255);
    width: 400px;
       } 
.hint {
    width: 80%;
    margin: auto; 
    font-family: serif;
    }
    
.active {
    font-weight: normal;
    font-size: 20px;
    width: 400px;
    }
.about .container {
    background-color: pink;
    width: 400px;
    margin: auto;
    }
p,b,i {
    color: #0d0979;
}
div table row th{
    color: #19933e;
}   